<div class="modal-header">
    <h4 class="modal-title">Añadir vehículo al grupo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div>
        <label class="form-label" for="vehiculo">Vehiculos disponibles</label>
        <select class="form-select" name="vehiculo" [(ngModel)]="this.selectedVehiculo!">
            <option *ngFor="let vehiculo of vehiculosDisponibles" [ngValue]="vehiculo">{{vehiculo.modelo}}</option>
        </select>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="guardar()">Guardar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Cerrar</button>
  </div>