<div class="container" *ngIf="grupoFormulario">
    <h3 *ngIf="idGrupoActual === 0">Creando grupo</h3>
    <h3 *ngIf="this.inactivo && this.idGrupoActual !== 0">Grupo: {{grupoActual?.nombre}}</h3>


    <div class="my-2 row">
        <div class="col-6">
            <form autocomplete="off" [formGroup]="grupoFormulario!" class="row form-label">
                <div class="col-12">
                    <label class="form-label">Nombre</label>
                    <div>
                        <input class="form-control" type="text" placeholder="Añade el nombre aquí..." formControlName="nombre">
                        <span class="form-text text-danger" *ngIf="campoNoEsValido('nombre')">
                            Este campo es obligatorio, longitud mínima 5 caracteres
                        </span>
                    </div>
                </div>
                <div class="col-12">
                    <label class="form-label">Descipción</label>
                    <div>
                        <textarea class="form-control" formControlName="descripcion"
                            placeholder="Añade una descripción aquí..."></textarea>
                            <span class="form-text text-danger" *ngIf="campoNoEsValido('descripcion')">
                                Este campo es obligatorio, longitud mínima 20 caracteres
                            </span>
                    </div>
                </div>
            </form>
            <div class="pt-3 col-6 mx-auto">
                <div class="btn-group btn-group">
                    <button type="button" class="btn btn-success" [disabled]="!this.grupoFormulario.valid"
                        (click)="guardar()">
                        Guardar</button>
                    <button type="button" class="btn btn-warning" [disabled]="!this.inactivo" (click)="actualizar()">
                        Editar</button>
                    <button type="button" class="btn btn-dark" (click)="volver()">Volver</button>
                </div>
            </div>
        </div>
        <div class="col-6">

            <button type="button" class="btn btn-primary" (click)="meterVehiculoAlGrupo()"
                [disabled]="this.inactivo || this.idGrupoActual == 0"><i class="bi bi-plus"></i>
                Vehículo</button>

            <div class="card-body table-responsive-sm">
                <table class="table align-middle">
                    <thead class="table text-center">
                        <tr>
                            <th scope="col">Modelo</th>
                            <th scope="col">Matrícula</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider" *ngIf="listadoDeVehiculos.length > 0">
                        <tr *ngFor="let vehiculo of listadoDeVehiculos">
                            <td class="text-center">{{ vehiculo.modelo }}</td>
                            <td class="text-center">{{ vehiculo.matricula }}</td>
                            <td>
                                <button class="btn btn-danger" [disabled]="this.inactivo" (click)="eliminarVehiculoDeGrupo(vehiculo)">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-center" *ngIf="listadoDeVehiculos.length == 0"> No hay vehículos asociados</p>
            </div>
        </div>
    </div>