<div class="container pt-2">
    <div class="card shadow">
        <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        <h3>Marcas</h3>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-primary" (click)="crearNuevoMarca()">
                            <i class="bi bi-plus"></i>
                            Añadir marca
                        </button>
                    </div>
                </div>
        </div>
        <div class="card-body table-responsive-sm">
            <table *ngIf="listadoDeMarcas.length > 0" class="table table-bordered table-hover align-middle">
                <thead class="table text-center">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Año de fundación</th>
                        <th scope="col">Sede</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let marca of listadoDeMarcas">
                        <td class="text-center">{{ marca.nombre }}</td>
                        <td class="text-center">{{ marca.anoCreacion }}</td>
                        <td class="text-center">{{ marca.sede }}</td>
                        <td style="min-width: 120px;" class="text-center">
                            <button class="btn btn-outline-warning" (click)="verDetalleDeMarca(marca.id)">
                                <i class="bi bi-eye"></i>
                            </button>
                            <button class="btn btn-outline-danger" (click)="eliminarMarca(marca.id)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="sizePage*10" [(page)]="page" (pageChange)="cargarMarcasDelServidor()"></ngb-pagination>
        </div>
    </div>
</div>