<div class="container pt-2">
    <div class="card shadow">
        <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        <h3>Vehículos</h3>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-primary" (click)="crearNuevoVehiculo()">
                            <i class="bi bi-plus"></i>
                            Añadir vehículo
                        </button>
                    </div>
                </div>
        </div>
        <div class="card-body table-responsive-sm">
            <table *ngIf="listadoDeVehiculos.length > 0" class="table table-bordered table-hover align-middle">
                <thead class="table text-center">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let vehiculo of listadoDeVehiculos">
                        <td class="text-center">{{ vehiculo.modelo }}</td>
                        <td class="text-center">{{ vehiculo.descripcion }}</td>
                        <td style="min-width: 120px;" class="text-center">
                            <button class="btn btn-outline-warning" (click)="verDetalleDeVehiculo(vehiculo.id)">
                                <i class="bi bi-eye"></i>
                            </button>
                            <button class="btn btn-outline-danger" (click)="eliminarVehiculo(vehiculo.id)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="numeroDePaginas*10" [(page)]="page" (pageChange)="cargarVehiculosDelServidor()"></ngb-pagination>
        </div>
    </div>
</div>