<div class="modal-header">
    <h4 class="modal-title">Confirmar operacion!</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <p>{{this.mensaje}}</p>
    <p>{{this.mensaje2}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="confirmado()">Confirmar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Cerrar</button>
</div>