<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand fs-4" routerLink="/home">Despotri-Car</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/vehiculo">Vehículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/tipo">Tipos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/marca">Marcas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/grupo">Grupos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
