<div class="container" *ngIf="tipoFormulario">
    <h3 *ngIf="idTipoActual === 0">Creación de un tipo de vehículo</h3>
    <h3 *ngIf="this.idTipoActual !== 0">Tipo de vehículo: {{tipoActual?.nombre}}</h3>
    <div class="row">
        <div class="col-6">
            <form autocomplete="off" [formGroup]="tipoFormulario!" class="row form-label">
                <div class="my-2 row">
                    <div class="col-12">
                        <label class="form-label">Nombre</label>
                        <div>
                            <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre">
                            <span class="form-text text-danger" *ngIf="campoNoEsValido('nombre')">
                                Este campo es obligatorio
                            </span>
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Descripción</label>
                        <div>
                            <textarea class="form-control" formControlName="descripcion" placeholder="Añade una descripción aqui..."></textarea>
                            <span class="form-text text-danger" *ngIf="campoNoEsValido('descripcion')">
                                Este campo es obligatorio
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="pt-3 col-6 mx-auto">
                <div class="btn-group btn-group">
                    <button type="button" class="btn btn-success" [disabled]="!this.tipoFormulario!.valid"
                        (click)="guardar()">
                        Guardar</button>
                    <button type="button" class="btn btn-warning" [disabled]="!this.inactivo" (click)="actualizar()">
                        Editar</button>
                    <button type="button" class="btn btn-dark" (click)="volver()">Volver</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card-body table-responsive-sm">
                <table class="table align-middle">
                    <thead class="table text-center">
                        <tr>
                            <th scope="col">Modelo</th>
                            <th scope="col">Matricula</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider" *ngIf="listadoDeVehiculos.length > 0" >
                        <tr *ngFor="let vehiculo of listadoDeVehiculos">
                            <td class="text-center">{{ vehiculo.modelo }}</td>
                            <td class="text-center">{{ vehiculo.matricula }}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-center" *ngIf="listadoDeVehiculos.length == 0"> No hay vehículos asociados</p>
            </div>
        </div>
    </div>
</div>