<div class="container" *ngIf="marcaFormulario">
    <h3 *ngIf="idMarcaActual === 0">Añadiendo una marca</h3>
    <h3 *ngIf="this.inactivo && this.idMarcaActual !== 0">Marca: {{marcaActual?.nombre}}</h3>
    <div class="row">
        <div class="col-6">
            <form autocomplete="off" [formGroup]="marcaFormulario!" class="row form-label">
                <div class="my-2 row">
                    <div class="col-12">
                        <label class="form-label">Nombre</label>
                        <div>
                            <input class="form-control" type="text" placeholder="Añade el nombre aquí..." formControlName="nombre">
                            <span class="form-text text-danger" *ngIf="campoNoEsValido('nombre')">
                                Este campo es obligatorio, longitud mínima 5 caracteres
                            </span>
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Año de fundación</label>
                        <div>
                            <input class="form-control" type="number" placeholder="Añade el año aquí..."
                                formControlName="anoCreacion">
                                <span class="form-text text-danger" *ngIf="campoNoEsValido('anoCreacion')">
                                    Este campo es obligatorio, longitud mínima y máxima 4 caracteres
                                </span>
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Sede</label>
                        <div>
                            <input class="form-control" type="text" placeholder="Añade la sede aquí..."
                                formControlName="sede">
                                <span class="form-text text-danger" *ngIf="campoNoEsValido('sede')">
                                    Este campo es obligatorio, longitud mínima 5 caracteres
                                </span>
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="form-label">Descripción</label>
                        <div>
                            <textarea class="form-control" formControlName="descripcion" placeholder="Añade una descripción aqui..."></textarea>
                            <span class="form-text text-danger" *ngIf="campoNoEsValido('descripcion')">
                                Este campo es obligatorio, longitud mínima 5 caracteres
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="pt-3 col-6 mx-auto">
                <div class="btn-group btn-group">
                    <button type="button" class="btn btn-success" [disabled]="!this.marcaFormulario!.valid"
                        (click)="guardar()">
                        Guardar</button>
                    <button type="button" class="btn btn-warning" [disabled]="!this.inactivo" (click)="actualizar()">
                        Editar</button>
                    <button type="button" class="btn btn-dark" (click)="volver()">Volver</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h5>Modelos de la marca</h5>
            <div class="card-body table-responsive-sm">
                <table class="table align-middle">
                    <thead class="table text-center">
                        <tr>
                            <th scope="col">Modelo</th>
                            <th scope="col">Matricula</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider" *ngIf="listadoDeVehiculos.length > 0">
                        <tr *ngFor="let vehiculo of listadoDeVehiculos">
                            <td class="text-center">{{ vehiculo.modelo }}</td>
                            <td class="text-center">{{ vehiculo.matricula }}</td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-center" *ngIf="listadoDeVehiculos.length == 0"> No hay vehículos asociados</p>
            </div>
        </div>
    </div>
</div>