<div class="container" *ngIf="vehiculoFormulario">
    <h3 *ngIf="idVehiculoActual === 0">Creación de un vehiculo</h3>
    <h3 *ngIf="this.idVehiculoActual !== 0">{{marcaActual?.nombre +' '+vehiculoActual?.modelo}}
    </h3>
    <div class="row">
        <div class="col-12">
            <form autocomplete="off" [formGroup]="vehiculoFormulario!" class="row form-label">
                <div class="my-2 row">
                    <div class="col-4">
                        <label class="form-label">Modelo</label>
                        <div>
                            <input class="form-control" type="text" placeholder="Modelo" formControlName="modelo">
                            <span class="form-text text-danger" *ngIf="campoNoEsValido('modelo')">
                                Este campo es obligatorio
                            </span>
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="form-label" for="marca">Marca</label>
                        <select class="form-select" formControlName="idMarca">
                            <option *ngIf="this.vehiculoActual?.idMarca != 0" [value]="this.vehiculoActual?.idMarca">
                                {{this.marcaActual?.nombre}}</option>
                            <option *ngFor="let marca of listadoDeMarcas" [ngValue]="marca">
                                {{marca.nombre}}</option>
                        </select>
                        <span class="form-text text-danger" *ngIf="campoNoEsValido('idMarca')">
                            Este campo es obligatorio
                        </span>
                    </div>
                    <div class="col-4">
                        <label class="form-label">Tipo</label>
                        <select class="form-select" formControlName="idTipo">
                            <option [value]="this.vehiculoActual?.idTipo">{{this.tipoActual?.nombre}}</option>
                            <option *ngFor="let tipo of listadoDeTipos" [ngValue]="tipo">
                                {{tipo.nombre}}</option>
                        </select>
                        <span class="form-text text-danger" *ngIf="campoNoEsValido('idTipo')">
                            Este campo es obligatorio
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12">
            <form autocomplete="off" [formGroup]="vehiculoFormulario!" class="row form-label">
                <div class="my-2 row">
                    <div class="col-4">
                        <label class="form-label">Matrícula</label>
                        <div>
                            <input class="form-control" type="text" placeholder="Matrícula" formControlName="matricula">
                            <span class="form-text text-danger" *ngIf="campoNoEsValido('matricula')">
                                Este campo es obligatorio, longitud mínima 7 caracteres
                            </span>
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="form-label">Kms</label>
                        <div>
                            <input class="form-control" type="number" placeholder="Kms" formControlName="kilometros">
                            <span class="form-text text-danger" *ngIf="campoNoEsValido('kilometros')">
                                Este campo es obligatorio
                            </span>
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="form-label" for="combustible">Combustible</label>
                        <select class="form-select" formControlName="combustible">
                            <option *ngIf="this.vehiculoActual?.idMarca != 0"
                                [value]="this.vehiculoActual?.combustible">{{this.vehiculoActual?.combustible}}</option>
                            <option *ngFor="let combustible of listadoDeCombustibles" [ngValue]="combustible">
                                {{combustible}}</option>
                        </select>
                        <span class="form-text text-danger" *ngIf="campoNoEsValido('combustible')">
                            Este campo es obligatorio
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <div class="col-12">
                                    <label class="form-label">Año de fabricación</label>
                                    <div>
                                        <input class="form-control" type="number" placeholder="Año de fabricación"
                                            formControlName="anoFabricacion">
                                            <span class="form-text text-danger" *ngIf="campoNoEsValido('anoFabricacion')">
                                                Este campo es obligatorio, longitud mínima y máxima 4 caracteres
                                            </span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Descripción</label>
                                    <div>
                                        <textarea id="descripcion" class="form-control" formControlName="descripcion"
                                            placeholder="Añade una descripción aqui..."></textarea>
                                            <span class="form-text text-danger" *ngIf="campoNoEsValido('descripcion')">
                                                Este campo es obligatorio, longitud mínima 5 caracteres
                                            </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col-12">
                                    <label class="form-label">Puertas</label>
                                    <div>
                                        <input class="form-control" type="number" placeholder="Puertas"
                                            formControlName="puertas">
                                            <span class="form-text text-danger" *ngIf="campoNoEsValido('puertas')">
                                                Este campo es obligatorio, longitud mínima 1 caracteres
                                            </span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Tracción</label>
                                    <select class="form-select" formControlName="traccion">
                                        <option *ngIf="this.vehiculoActual?.idMarca != 0"
                                            [value]="this.vehiculoActual?.traccion">{{this.vehiculoActual?.traccion}}
                                        </option>
                                        <option *ngFor="let traccion of listadoDeTracciones" [ngValue]="traccion">
                                            {{traccion}}</option>
                                    </select>
                                    <span class="form-text text-danger" *ngIf="campoNoEsValido('traccion')">
                                        Este campo es obligatorio
                                    </span>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Plazas</label>
                                    <div>
                                        <input class="form-control" type="number" placeholder="Plazas"
                                            formControlName="plazas">
                                            <span class="form-text text-danger" *ngIf="campoNoEsValido('plazas')">
                                                Este campo es obligatorio
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-3 col-6 mx-auto">
                            <div class="btn-group btn-group">
                                <button type="button" class="btn btn-success" [disabled]="!this.vehiculoFormulario!.valid"
                                    (click)="guardar()">
                                    Guardar</button>
                                <button type="button" class="btn btn-warning" [disabled]="!this.inactivo" (click)="actualizar()">
                                    Editar</button>
                                <button type="button" class="btn btn-dark" (click)="volver()">Volver</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card-body table-responsive-sm">
                            <table class="table align-middle" >
                                <thead class="table text-center">
                                    <tr>
                                        <th scope="col">Grupo</th>
                                        <th scope="col">Descripción</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider"  *ngIf="listadoDeGrupos.length > 0">
                                    <tr *ngFor="let grupo of listadoDeGrupos">
                                        <td class="text-center">{{ grupo.nombre }}</td>
                                        <td class="text-center">{{ grupo.descripcion }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="text-center" *ngIf="listadoDeGrupos.length == 0"> No hay grupos asociados</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>