<div class="container">
    
    <div class="row">
        <h2 class="col-12 text-center">Bienvenido a Despotri-Car</h2>
        <a routerLink="/vehiculo" class="card-link col-5 m-3">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="card-title text-center">Vehículos</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Sección de la aplicacón para la gestión de los vehículos disponibles</p>
                </div>
            </div>
        </a>
        <a routerLink="/tipo" class="card-link col-5 m-3">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="card-title text-center">Tipos</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Sección de la aplicacón para la gestión de los tipo de vehículos disponibles
                    </p>
                </div>
            </div>
        </a>
        <a routerLink="/marca" class="card-link col-5 m-3">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="card-title text-center">Marcas</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Sección de la aplicacón para la gestión de las marcas disponibles</p>
                </div>
            </div>
        </a>
        <a routerLink="/grupo" class="card-link col-5 m-3">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="card-title text-center">Grupos</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Sección de la aplicacón para la gestión de los grupos de vehículos disponibles
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>